/* center Appmain div */

/* center h1 */
.App h1 {
  text-align: center;
}

.App {
  text-align: center;
}


.AppMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/* add futurstic design to input */
.AppMain input {
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 90%;
}